{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Complaint Register</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons --> 
  <link href="{% static 'website/img/logo_bg.png' %}" rel="icon">
  <link href="{% static 'website/img/icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'website/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'website/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'website/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
 

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'website/img/profile.jpeg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="home.html">We Solve Complaints</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com/tvmiiser?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/people/IISERTVM/100057508658523/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.iisertvm.ac.in/" class="instagram"><i class="bx bx-globe"></i></a>
          {% comment %} <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> {% endcomment %}
          <a href="https://www.linkedin.com/company/indian-institute-of-science-education-and-research-thiruvananthapuram/?originalSubdomain=in" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About Us</span></a></li>
          <li><a href="#mess" class="nav-link scrollto"><i class="bx bx-bowl-hot"></i> <span>Mess</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-building-house"></i> <span>Hostel</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-book-open"></i> <span>Academic</span></a></li>
          <li><a href="#medical" class="nav-link scrollto"><i class="bx bx-plus-medical"></i> <span>Medical</span></a></li>
          <li><a href="#others" class="nav-link scrollto"><i class="bx bx-add-to-queue"></i> <span>Others</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>We Help You </h1>
      <p>With <span class="typed" data-typed-items="Mess Complaints, Hostel Affair's, Academic Problem's, Medical Complaints"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        
        <div class="section-title">
          <h2>About Us</h2>
          <p>
            Our aim is to help individuals resolve their complaints effectively by conveying the relevant information to the appropriate authority. We understand that dealing with complaints can be a stressful and frustrating experience, which is why we are here to offer our assistance. Whether it's a complaint about mess, academics, hostel facilities, medical services, or any other issue, we are committed to ensuring that your concerns are addressed in a timely and professional manner.
          </p>
          <br>
          <p>
            Our team has a wealth of experience in handling a wide range of complaints, and we have developed effective strategies for dealing with them. We know that every complaint is unique, and we take the time to understand the specific circumstances of your situation before we begin to work on a resolution.
          </p>
          <br>
          <p>
            One of the key aspects of our approach is our commitment to conveying your complaint to the correct authority. We have a comprehensive understanding of the different channels and processes that exist for dealing with different types of complaints, and we will work closely with you to ensure that your complaint is routed to the appropriate party.
          </p>
          <br>
          <p>
            Once we have conveyed your complaint to the relevant authority, we will work closely with them to ensure that it is dealt with in a fair and timely manner. We understand the importance of keeping you informed throughout the process, and we will provide you with regular updates on the status of your complaint.
          </p>
          <br>
          <p>
            At the end of the day, our goal is to provide you with a platform where you can express your grievances and receive the necessary support to resolve them. We are committed to delivering the highest levels of service and ensuring that you are satisfied with the outcome of your complaint. So if you have a complaint about anything at all, don't hesitate to reach out to us - we are here to help!
          </p>
        </div>
          </div>
        </div>
      </div>
    </section><!-- End About Section -->

    <!-- ======= Resume Section ======= -->
    <section id="mess" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Mess Complaints</h2>
          <p>
            As a section of the website dedicated to addressing your complaints related to messes, my role would be to gather all relevant information and bring it to the attention of the authorities responsible for resolving the issue as soon as possible. I would maintain clear communication with all parties involved and  ensure that the complaint has been satisfactorily resolved. While not directly involved in the resolution process, my focus would be on ensuring that your concern is addressed efficiently and effectively.
          </p>
        </div>

        <div> 
          <form action="{% static 'website/forms/contact.php' %}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name: </label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email: </label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Enter The Mess You Have The Complaint About: </label>
              <select id="mess" class="form-control section-lightitalic" name="CDH" >
                <option value="" disabled selected hidden>Click and choose your dinning hall</option>
                <option value="CDH_1">CDH 1</option>
                <option value="CDH_2">CDH 2</option>
                <option value="CDH_3">CDH 3</option>
                
              </select>
            </div>
            <div class="form-group">
              <label for="name">Please Mention What Is The Complaint About: </label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

        

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Hostel Section ======= -->
    <section id="portfolio" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Hostel Affair's</h2>
          <p>
            As a section of the website dedicated to addressing your complaints related to hostel's, my role would be to gather all relevant information and bring it to the attention of the authorities responsible for resolving the issue as soon as possible. I would maintain clear communication with all parties involved and  ensure that the complaint has been satisfactorily resolved. While not directly involved in the resolution process, my focus would be on ensuring that your concern is addressed efficiently and effectively.
          </p>

        </div>

        <div> 
          <form action="{% static 'website/forms/contact.php' %}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name: </label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email: </label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Enter The Hostel You Have The Complaint About: </label>
              <select id="mess" class="form-control section-lightitalic" name="CDH" >
                <option value="" disabled selected hidden>Click and choose your hostel</option>
                <option value="anamudi_A">Anamudi A</option>
                <option value="anamudi_B">Anamudi B</option>
                <option value="anamudi_C">Anamudi C</option>
                <option value="anamudi_D">Anamudi D</option>
                <option value="anamudi_E">Anamudi E</option>
                <option value="agastya">Agastya</option>
                <option value="ponmudi">Ponmudi</option>
                <option value="eravimala">Eravimala</option>
                <option value="sispara">Sispara</option>
                
              </select>
            </div>
            <div class="form-group">
              <label for="name">Please Mention What Is The Complaint About: </label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Hostel Section -->

    <!-- ======= Academic Section ======= -->
    <section id="services" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Academic Grievances</h2>
          <p>
            As a section of the website dedicated to addressing your complaints related to academics, my role would be to gather all relevant information and bring it to the attention of the authorities responsible for resolving the issue as soon as possible. I would maintain clear communication with all parties involved and  ensure that the complaint has been satisfactorily resolved. While not directly involved in the resolution process, my focus would be on ensuring that your concern is addressed efficiently and effectively.
          </p>
        </div>

        <div> 
          <form action="{% static 'website/forms/contact.php' %}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name: </label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email: </label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Enter The School You Have The Complaint About: </label>
              <select id="mess" class="form-control section-lightitalic" name="CDH" >
                <option value="" disabled selected hidden>Click and choose your School</option>
                <option value="ds">School Of Data Science</option>
                <option value="bio">School Of Biology</option>
                <option value="phy">School Of Physics</option>
                <option value="chem">School Of Chemistry</option>
                <option value="math">School Of Mathematics</option>
                <option value="other">Any Other</option>
                
              </select>
            </div>
            <div class="form-group">
              <label for="name">Please Mention What Is The Complaint About: </label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
       

      </div>
    </section><!-- End Academic Section -->

    <!-- ======= medical Section ======= -->
    <section id="medical" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Medical Problem's</h2>
          <p>
            As a section of the website dedicated to addressing your complaints related to medical issues, my role would be to gather all relevant information and bring it to the attention of the authorities responsible for resolving the issue as soon as possible. I would maintain clear communication with all parties involved and  ensure that the complaint has been satisfactorily resolved. While not directly involved in the resolution process, my focus would be on ensuring that your concern is addressed efficiently and effectively.
          </p>
        </div>

        <div> 
          <form action="{% static 'website/forms/contact.php' %}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name: </label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email: </label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            
            <div class="form-group">
              <label for="name">Please Mention What Is The Complaint About: </label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
       

      </div>
    </section><!-- End medical Section -->

    <!-- ======= others Section ======= -->
    <section id="others" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Any Other Complains</h2>
          <p>
            As a section of the website dedicated to addressing your complaints related to any other topic which was not mentioned above, my role would be to gather all relevant information and bring it to the attention of the authorities responsible for resolving the issue as soon as possible. I would maintain clear communication with all parties involved and  ensure that the complaint has been satisfactorily resolved. While not directly involved in the resolution process, my focus would be on ensuring that your concern is addressed efficiently and effectively.
          </p>
         </div>

        <div> 
          <form action="{% static 'website/forms/contact.php' %}" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name: </label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email: </label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Mention The Topic Your Complaint Is About: </label>
              <input type="text" name="name" class="form-control" id="name" required>
              </select>
            </div>
            <div class="form-group">
              <label for="name">Please Mention What Is The Complaint About: </label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>
       

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'website/img/testimonials/testimonials-1.jpg' %}" class="testimonial-img" alt="">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'website/img/testimonials/testimonials-2.jpg' %}" class="testimonial-img" alt="">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'website/img/testimonials/testimonials-3.jpg' %}" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'website/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'website/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DBMS Team 4</span></strong>
      </div>
      
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'website/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'website/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'website/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'website/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'website/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'website/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'website/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'website/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'website/js/main.js' %}"></script>

</body>

</html>